<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jQuery和CSS3响应式TAB选项卡样式幻灯片特效|DEMO_jQuery之家-自由分享jQuery、html5、css3的插件库</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/htmleaf-demo.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<!--<header class="htmleaf-header">
    <h1>jQuery和CSS3响应式TAB选项卡样式幻灯片特效 <span>CSS3 Animated Responsive Tab Slider Plugin For jQuery</span></h1>
    <div class="htmleaf-links">
        <a class="htmleaf-icon icon-htmleaf-home-outline" href="http://www.htmleaf.com/" title="jQuery之家" target="_blank"><span> jQuery之家</span></a>
        <a class="htmleaf-icon icon-htmleaf-arrow-forward-outline" href="http://www.htmleaf.com/jQuery/Slideshow-Scroller/201601313089.html" title="返回下载页" target="_blank"><span> 返回下载页</span></a>
    </div>
</header>-->
<section class="htmleaf-container">
    <div class="landing-slider">

        <!--tabSlider-->
        <div class="tabSlider">
            <!--
                作者：offline
                时间：2020-07-11
                描述：三个操作按钮
            -->
            <nav class="ts-control">
                <div class="ts-container">
                    <ul>
                        <li class="is-active"><i class="fa fa-music" aria-hidden="true"></i> <span>Slide 1</span></li>
                        <li><i class="fa fa-folder-open" aria-hidden="true"></i> <span>Slide 2</span></li>
                        <li><i class="fa fa-commenting-o" aria-hidden="true"></i><span>Slide 3</span></li>
                    </ul>
                </div>
            </nav>
            <div class="ts-items">
                <!-- Single item -->
                <div class="ts-item is-active">
                    <div class="ts-banner"> <img src="/static/img/621.jpg" alt="alt goes here" /> </div>
                    <div class="ts-container set-layout thumb-cont">
                        <div class="ts-thumbnail"> <img src="/static/img/iphone.png" alt="alt" /> </div>
                        <div class="ts-content">
                            <!--<div class="ts-title"> 进来听歌呗 </div>-->
                            <a href="/sing"  > <span>不来听首歌吗？</span> <small>music</small> <i class="fa fa-arrow-circle-right"></i> </a> </div>
                    </div>
                </div>

                <!-- Single item -->
                <div class="ts-item">
                    <div class="ts-banner"> <img src="static/img/622.jpg" alt="alt goes here" /></div>
                    <div class="ts-container set-layout thumb-cont">
                        <div class="ts-thumbnail"> <img src="static/img/s3.png" alt="alt" /> </div>
                        <div class="ts-content">
                            <!-- <div class="ts-title"> 上传歌曲 </div>-->
                            <a href="/uploadPage" class="ts-btn pull-right set-icon to-right"> <span>我也传首歌</span> <small></small> <i class="fa fa-arrow-circle-right"></i> </a> </div>
                    </div>
                </div>

                <!-- Single item -->
                <div class="ts-item">
                    <div class="ts-banner"> <img src="static/img/623.jpg" alt="alt goes here" /> </div>
                    <div class="ts-container set-layout thumb-cont">
                        <div class="ts-thumbnail"> <img src="static/img/lumia.png" alt="alt" /> </div>
                        <div class="ts-content">
                            <a href="" class="ts-btn pull-right set-icon to-right" style="background: #3498DB;margin-bottom: 10px;">
                                <span>偷看下别人的留言，咳咳</span>
                                <small>Praesent at enim vel nibh</small>
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                            <a href="" class="ts-btn pull-right set-icon to-right">
                                <span>我也留个言</span>
                                <small>Praesent at enim vel nibh</small>
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>
<!--<footer class="related">
    <h3>如果你喜欢这个插件，那么你可能也喜欢:</h3>
    <a href="http://www.htmleaf.com/jQuery/Slideshow-Scroller/jquery-fractionslider.html">
      <img src="related/1.jpg" width="300" alt="fractionslider-带多重动画效果的jQuery幻灯片插件"/>
      <h3>fractionslider-带多重动画效果的jQuery幻灯片插件</h3>
    </a>
    <a href="http://www.htmleaf.com/jQuery/Slideshow-Scroller/pointy-slider.html">
      <img src="related/2.jpg" width="300" alt="创意jQuery和CSS3滑动覆盖响应式幻灯片特效"/>
      <h3>创意jQuery和CSS3滑动覆盖响应式幻灯片特效</h3>
    </a>
</footer>-->

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    $(function(){
        //$('a').on('click', function(){ return false; });

        // set item banner
        $('.ts-item').first().show();
        $('.ts-item').each(function () {
            var $this = $(this),
                _imgSrc  = $this.find('.ts-banner img').attr('src');

            if(_imgSrc)
                $this.css('background-image', 'url(' + _imgSrc + ')');
        });

        $('.ts-control li').on('click', function(){
            var  $this = $(this),
                _index = $this.index();

            $("li.is-active").removeClass("is-active");
            $(this).addClass("is-active");

            $('.ts-item.is-active').removeClass('is-active').fadeOut();
            $('.ts-item').eq(_index).addClass('is-active').fadeIn();

            return false;
        });

        var ww = $(window).width();
    });
</script>
</body>
</html>